<div class="container">
  <div class="card card-grey" *ngFor="let user of usersToShow">
    <div class="card-content">
      <img src="{{ user.picture }}" alt="{{ user.name }}">
      <h3>{{ user.name }}</h3>
      <p>{{ user.city }}, {{ user.state }}</p>
      <button class="btn btn-orange" [ngClass]="{'btn-orange': true}">Detalhes</button>
    </div>
  </div>


</div>



<div class="button-container">
  <button class="btn btn-primary" [disabled]="!hasPrev" (click)="handlePrev()">Esquerdo</button>
  <button class="btn btn-primary" [disabled]="!hasNext" (click)="handleNext()">Direito</button>
</div>
